.container-lg.px-3.my-5.markdown-body {
  background-color: #0d1117 !important;
  color: #c9d1d9 !important;
  padding: 2rem;
  border-radius: 8px;
}

body {
  background-color: #0d1117 !important;
}

.footer.border-top.border-gray-light {
  background-color: #0d1117 !important;
  color: #c9d1d9 !important;
}

.markdown-body .table {
  background: #161b22;
  color: #c9d1d9;
  border: 1px solid #30363d;
}

.markdown-body th, .markdown-body .td {
  border: 1px solid #30363d;
  padding: 8px;
}