// Import Minima's classic (light) theme first
@import "minima/skins/classic";

// Redefine variables for dark mode
:root {
  --brand-color: #4078c0;
  --background-color: #0d1117; // GitHub dark
  --text-color: #c9d1d9;
}
